.preview {
    background-image: url(../images/preview-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 700px;
    position: relative;
    padding-top: 100px;
    margin-bottom: 90px;

    @include r($xl) {
        padding-top: 81px;
    }

    @media (max-height: 700px) and (min-width: 768px) {
        min-height: 560px;
    }

    &__inner {
        padding-top: 17vh;
        color: #fff;

        @media (max-height: 700px) {
            padding-top: 5vh;
        }
    }

    &__title {
        margin-bottom: 24px;

        span {
            display: block;
        }

        &::before {
            display: none;
        }
    }

    &__text {
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 1.25;
    }

    &__list {
        display: flex;
        margin-bottom: 33px;

        @include r($md) {
            display: block;
        }
    }

    &__item {
        font-size: 14px;
        line-height: 1;
        padding-left: 15px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            width: 10px;
            height: 10px;
            border: 1px solid $yellow;
            border-radius: 50%;
        }

        &:not(:last-child) {
            margin-right: 28px;

            @include r($md) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    &__link {
        padding: 10px 15px;
        font-size: 18px;
        line-height: 1.3;
    }

    &__form {
        transform: translate(-50%, 50%);
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 0;
        padding: 27px 69px 30px 70px;
        background-color: #404040;
        text-align: center;
        border-radius: 6px;
        max-width: 762px;
        width: 100%;

        @include r($lg) {
            max-width: 700px;
            padding: 19px 40px 30px;
        }

        @include r($md) {
            max-width: 90%;
            padding-right: 15px;
            padding-left: 15px;
        }

        @include r($sm) {

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &__form-title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.3;
        color: #fff;

        @include r($sm) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;

        @include r($md) {
            justify-content: space-around;
        }

        @include r($sm) {
            justify-content: center;
            flex-wrap: wrap;
        }

        @include r($xsm) {
            flex-flow: column nowrap;
            align-items: center;
        }
    }

    &__input {
        background-color: rgba(27, 27, 27, 0.7);
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 8px 15px;
        width: 100%;
        margin-right: 20px;
        font-size: 16px;
        line-height: 1.25;
        color: #fff;
        border: 2px solid transparent;
        transition: border-color 0.3s;

        @include r($sm) {
            margin-bottom: 20px;
            margin-right: 0;
        }

        &:hover {
            border-color: $yellow;
        }

        &:focus {
            outline-color: #fff;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: #A9A9A9;
        }

        &--name {
            max-width: 40%;

            @include r($sm) {
                max-width: 100%;
                width: 42%;
                margin-right: 30px;
            }

            @include r($xsm) {
                width: auto;
                margin-right: 0;
            }
        }

        &--tel {
            max-width: 28%;

            @include r($md) {
                max-width: 173px;
            }

            @include r($sm) {
                width: 34%;
                max-width: 100%;
                flex: 0 0 165px;
            }

            @include r($xsm) {
                flex: auto;
                width: auto;

            }
        }
    }

    &__btn {
        font-size: 16px;
        line-height: 1.25;
        max-width: 20%;
        padding: 8px 21px;

        @include r($md) {
            max-width: 35%;
            padding: 8px 16px;
        }

        @include r($sm) {
            max-width: 100%;
            padding: 8px 40px;
        }
    }
}