.works {
    background-color: $white-300;

    &__inner {
        padding: 85px 0;
        position: relative;

        @include r($md) {
            padding-bottom: 20px;
        }
    }

    &__title {
        margin-bottom: 45px;
    }

    &__gallery {
        @include r($lg) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__slider {
        &+& {
            margin-top: 100px;

            @include r($lg) {
                margin-top: 0;
            }
        }
    }

    &__slide {
        display: flex;
        justify-content: space-between;

        @include r($lg) {
            flex-direction: column-reverse;
        }

        @include r($sm) {
            align-items: flex-start;
        }
    }

    &__slide-title {
        padding-top: 30px;
        margin-bottom: 26px;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.25;

        @include r($lg) {
            padding-top: 0;
        }

        @include r($md) {
            font-size: 30px;
        }

        @include r($sm) {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }

    &__item {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 600;

        @include r($md) {
            font-size: 20px;
        }

        @include r($sm) {
            font-size: 18px;
        }

        &:not(:last-child) {
            margin-bottom: 8px;

            @include r($md) {
                margin-bottom: 0;
            }
        }
    }

    &__name {
        font-weight: 400;
    }

    &__image-wrapper {
        max-width: 613px;
        width: 100%;
        height: 402px;

        @include r($lg) {
            max-width: 700px;
            margin-right: 30px;
        }

        @include r($sm) {
            max-width: 100%;
            width: 100%;
            height: 300px;
        }

        &::before {
            transform: rotate(-90deg);
            top: auto;
            bottom: -15px;

            @include r($lg) {
                display: none;
            }
        }

        &::after {
            display: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__nav {
        max-width: 240px;
        height: 157px;
        cursor: pointer;
        position: relative;

        @include r($lg) {
            margin: 0 auto;
            height: 150px !important;
        }

        @include r($md) {
            margin: 0;
            margin-left: auto;
        }

        &:hover {
            &::before {
                opacity: 1;

                @include r($lg) {
                    opacity: 0;
                }
            }

            .works__description {
                opacity: 1;

                @include r($lg) {
                    opacity: 0;
                }
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s;
            opacity: 0;
            background-image: linear-gradient(0deg, rgba(218, 165, 34, 0.81) 0%, rgba(255, 255, 255, 0) 131.85%);
        }
    }

    &__nav-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 220px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        color: $white-400;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;

        @include r($md) {
            font-size: 14px;
        }
    }

    .gallery-top {
        padding-bottom: 15px;
        height: 420px;

        @include r($lg) {
            height: fit-content;
            max-width: 75%;
            margin-right: 30px;
        }

        @include r($sm) {
            max-width: 100%;
            margin-right: 0;
        }
    }

    .swiper-container {
        width: 100%;
    }

    .gallery-thumbs {
        display: block;

        @include r($lg) {
            height: fit-content;
            max-width: 220px;
        }

        @include r($md) {
            max-width: 180px;
        }

        @include r($sm) {
            display: none;
        }
    }

    .swiper-slide-thumb-active {
        &::before {
            opacity: 1;
        }

        .works__description {
            opacity: 1;
        }
    }

    .slider-arrow {
        background-color: $white-400;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 135px;
        top: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        @include r($lg) {
            bottom: auto;
            top: 108px;
        }

        @include r($md) {
            width: 40px;
            height: 40px;
        }

        @include r($sm) {
            width: 35px;
            height: 35px;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            box-shadow: inset 0px 4px 10px $black-400;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--next {
            right: -20px;

            @include r($lg) {
                right: 20px;
            }

            @include r($sm) {
                right: 10px;
            }

            &::after {
                background-image: url(../images/sprite.svg#arrow-next);
            }
        }

        &--prev {
            left: -20px;

            @include r($lg) {
                left: auto;
                right: 100px;
            }

            @include r($md) {
                right: 70px;
            }

            &::after {
                background-image: url(../images/sprite.svg#arrow-prev);
            }
        }
    }
}